.home__container > img {
  width: 100vw;
  margin-bottom: 20px;
  border-radius: 5px;
}

@media only screen and (min-width: 600px) {
  .home__container {
    display: flex;
    flex-direction: column;

  }

  .home__container > img {
    max-height: 30vh;
    margin: 0 auto 3em;
  }
}

@media only screen and (min-width: 1000px) {
  .home__container > img {
    max-height: 50vh;
    max-width: 60vw;
    margin: 0 auto 3em;
  }
}

.home__container > h1 {
  text-align: center;
  margin-bottom: 40px;
}

.container__options {
  margin: 20px 0 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

@media only screen and (min-width: 1000px) {
  .container__options {
    flex-direction: row;
    justify-content: center;
  }
}

.container__options > li {
  list-style: none;
  width: 80vw;
}

@media only screen and (min-width: 1000px) {
  .container__options > li {
    width: 300px;
  }
}

.container__options > li > a {
  border-radius: 99px;
  padding: 15px;
  display: inline-block;
  width: 100%;
  text-decoration: none;

  background-color: white;
  color: #c7cdd8;
}

@media only screen and (min-width: 1000px) {
  .container__options > li > a {
    width: 100%;
  }
}

.container__options > li > a:hover {
  transform: scale(1.1);
  transition: .2s;
}

.container__options > li > a > span {
  font-weight: 700;
  border-radius: 99px;
  padding: 2px 5px;
  margin-right: 10px;
}
