.results__page {
  display: flex;
  flex-direction: column;

  gap: 1em;
}

.results__page > h1 {
  margin: 1em 0 .25em;
  text-align: center;
}

.results__page > div {
  display: flex;
  justify-content: center;
}

.results__checks {
  width: 90%;

  display: flex;
  align-items: center;
  gap: 1em;

  background-color: white;
  border-radius: 10px;

  margin-bottom: .5em;
}

@media only screen and (min-width: 600px) {
  .results__checks {
    width: 50%;
  }
}

@media only screen and (min-width: 1000px) {
  .results__checks {
    width: 30%;
  }
}

.results__checks > img{
  width: 75px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

@media only screen and (min-width: 600px) {
  .results__checks > img {
    width: 40%;
  }
}

@media only screen and (min-width: 1000px) {
  .results__checks > img {
    width: 30%;
  }
}

.results__checks > p {
  background-color: white;
}

@media only screen and (min-width: 600px) {
  .results__checks > p {
    font-size: 1.25em;
  }
}

@media only screen and (min-width: 1000px) {
  .results__checks > p {
    font-size: 1.5em;
  }
}

.r {
  color: rgb(177, 6, 40);
}
.g {
  color: green;
}
